---
import Briefcase from "../../icons/Briefcase.astro";
import GeneralContainer from "../../Utils/GeneralContainer.astro";
---

<header class="fixed top-0 left-0 right-0 flex justify-center">
  <GeneralContainer class="p-5 grow flex justify-between items-center">
    <div>
      <a
        href="#"
        class="flex gap-2 items-center text-2xl font-medium righteous"
      >
        <Briefcase class="size-8" />
        JAVIER <span class="text-cyan-600">CODUTTI</span>
      </a>
    </div>
    <nav class="flex gap-8">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Skills</a>
      <a href="#">Experience</a>
      <a href="#">Projects</a>
      <a href="#">Contact</a>
    </nav>
  </GeneralContainer>
</header>
