---
import Briefcase from "../../icons/Briefcase.astro";
import GeneralContainer from "../../Utils/GeneralContainer.astro";
---

<header class="fixed top-0 left-0 right-0 flex justify-center">
  <GeneralContainer class="p-5 grow flex justify-between items-center">
    <div>
      <a
        href="#"
        class="flex gap-2 items-center text-2xl font-medium righteous"
      >
        <Briefcase class="size-8" />
        JAVIER <span class="text-cyan-500">CODUTTI</span>
      </a>
    </div>
    <nav class="flex gap-8 text-white/80">
      <a class="transition-colors duration-250 hover:text-cyan-500" href="#"
        >Home</a
      >
      <a class="transition-colors duration-250 hover:text-cyan-500" href="#"
        >About</a
      >
      <a class="transition-colors duration-250 hover:text-cyan-500" href="#"
        >Skills</a
      >
      <a class="transition-colors duration-250 hover:text-cyan-500" href="#"
        >Experience</a
      >
      <a class="transition-colors duration-250 hover:text-cyan-500" href="#"
        >Projects</a
      >
      <a class="transition-colors duration-250 hover:text-cyan-500" href="#"
        >Contact</a
      >
    </nav>
  </GeneralContainer>
</header>
