---
import User from "../icons/User.astro";
import { translations } from "../translations/i18n";
import GeneralContainer from "../utils/GeneralContainer.astro";

const lang = (Astro.locals as { lang: "en" | "es" }).lang || "en";
const t = translations.ABOUT[lang];
---

<section
  id="about"
  class="relative w-full min-h-screen h-full px-5 py-24 lg:px-14 flex flex-col justify-center items-center"
>
  <!-- Background -->
  <!-- <SideRadialBlue /> -->

  <!-- Main Content -->
  <GeneralContainer class="flex flex-col items-center">
    <!-- About me Description -->
    <div class="mt-6 flex flex-col lg:flex-row gap-12">
      <!-- Image Profile -->
      <div class="flex items-center justify-center lg:w-2/5">
        <img
          src="/173981629971325Sm.webp"
          alt="Javier Codutti - Web Developer"
          width="500"
          height="500"
          class="w-full max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg"
          loading="lazy"
        />
      </div>

      <!-- Description Section -->
      <div class="flex items-center lg:w-2/3">
        <div class="text-gray-200 flex flex-col gap-6">
          <div>
            <h2 class="font-medium text-zinc-400 flex items-center gap-2">
              <User class="size-6" />
              {t.h2}
            </h2>
            <h3 class="mt-1 md:mt-2 font-semibold" set:html={t.h3} />
          </div>
          {
            t.description.map((description) => (
              <p
                class="text-lg md:text-xl text-pretty border-l-4 border-cyan-600 pl-4"
                set:html={description}
              />
            ))
          }
        </div>
      </div>
    </div>
  </GeneralContainer>
</section>
