---
import SideRadialBlue from "../components/backgrounds/SideRadialBlue.astro";
import User from "../icons/User.astro";
import GeneralContainer from "../utils/GeneralContainer.astro";
---

<section
  id="about"
  class="relative w-full min-h-screen h-full p-[80px_20px_20px] lg:p-[80px_60px_20px] flex flex-col justify-center items-center"
>
  <!-- Background -->
  <SideRadialBlue />

  <!-- Main Content -->
  <GeneralContainer class="flex flex-col lg:flex-row gap-8">
    <!-- Image Profile -->
    <div class="flex items-center justify-center lg:w-1/2">
      <img
        src="/173981629971322.webp"
        alt="Javier Codutti - Web Developer"
        width="500"
        height="500"
        class="w-[80%]"
        loading="lazy"
      />
    </div>

    <!-- Description Section -->
    <div class="flex items-center lg:w-1/2">
      <div class="text-gray-200 flex flex-col gap-6 font-extralight">
        <h2 class="righteous text-4xl flex items-center gap-2">
          <User class="size-10" /> About me
        </h2>
        <p
          class="text-lg md:text-xl text-pretty border-l-4 border-cyan-600 pl-4"
        >
          I'm <span class="text-cyan-500 font-semibold">Javier Codutti</span>, a
          web developer with <span class="text-cyan-500 font-semibold"
            >2+ years of experience</span
          >
          crafting modern, scalable, and high-performance applications. I specialize
          in <span class="text-cyan-500 font-semibold"
            >React, Next.js, and Astro</span
          >, focusing on seamless UX/UI.
        </p>
        <p
          class="text-lg md:text-xl text-pretty border-l-4 border-cyan-600 pl-4"
        >
          Passionate about learning, I’ve worked with <span
            class="text-cyan-500 font-semibold">JWT, NextAuth</span
          >, and database integration like <span
            class="text-cyan-500 font-semibold">MongoDB</span
          >. My projects include <span class="text-amber-200 font-semibold"
            >Podcast Music</span
          >
          (a YouTube Music-inspired app) and an <span
            class="text-amber-200 font-semibold">E-commerce</span
          >, prioritizing performance and accessibility.
        </p>
        <p
          class="text-lg md:text-xl text-pretty border-l-4 border-cyan-600 pl-4"
        >
          Looking for a developer who values <span
            class="text-amber-200 font-semibold"
            >quality, scalability, and innovation?</span
          >
          <span class="text-amber-200 font-semibold">Let's talk! 🙂</span>
        </p>
      </div>
    </div>
  </GeneralContainer>
</section>
