---
import ContactForm from "../components/contactForm/ContactForm.astro";
import EmailWithCopyButton from "../components/emailWithCopyButton/EmailWithCopyButton.astro";
import Github from "../icons/Github.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Mail from "../icons/Mail.astro";
import Send from "../icons/Send.astro";
import ContainerSm from "../utils/ContainerSm.astro";
import GeneralContainer from "../utils/GeneralContainer.astro";
---

<section
  id="contact"
  class="relative w-full min-h-screen h-full px-5 py-24 flex flex-col justify-center items-center"
  aria-labelledby="contact-heading"
>
  <ContainerSm>
    <!-- Page Titles -->
    <div>
      <h2
        class="font-medium text-zinc-400 flex items-center gap-2"
        id="contact-heading"
      >
        <Send class="size-8" aria-hidden="true" />Contact Me! 😀
      </h2>
      <h3 class="mt-1 font-semibold">
        Do you like what you see?
        <span class="text-cyan-500">Let's work together!</span>
      </h3>
    </div>

    <!-- Contact Card -->
    <div
      class="mt-10 w-full h-full p-12 flex flex-col md:flex-row bg-gray-800/40 border border-gray-800 rounded-md backdrop-blur-sm shadow-xl"
    >
      <div
        class="md:max-w-2/5 w-full pb-12 md:pr-12 md:pb-0 border-b md:border-r md:border-b-0 border-gray-800 flex flex-col gap-10 justify-center items-center"
      >
        <!-- Social links -->
        <div class="flex flex-col items-center">
          <h4 class="text-cyan-500 font-bold">NETWORKS</h4>
          <ul class="mt-4 flex gap-4">
            <li>
              <a
                href="https://github.com/javicod92"
                class="border border-gray-300 p-2 rounded-full inline-flex items-center justify-center size-10 bg-zinc-800 hover:text-cyan-500 hover:shadow-[0_0_20px_5px_#185367] transition duration-150 hover:border-cyan-500"
                target="_blank"
                rel="noopener noreferrer me"
                title="Github"
                aria-label="Github"
              >
                <Github class="w-full" aria-hidden="true" />
              </a>
            </li>
            <li>
              <a
                href="https://linkedin.com/in/aldo-javier-codutti"
                class="border border-gray-300 p-2 rounded-full inline-flex items-center justify-center size-10 bg-zinc-800 hover:text-cyan-500 hover:shadow-[0_0_20px_5px_#185367] transition duration-150 hover:border-cyan-500"
                target="_blank"
                rel="noopener noreferrer me"
                title="LinkedIn"
                aria-label="LinkedIn"
              >
                <LinkedIn class="w-full" aria-hidden="true" />
              </a>
            </li>
            <li>
              <a
                href="mailto:javi.javier.jc@gmail.com"
                class="border border-gray-300 p-2 rounded-full inline-flex items-center justify-center size-10 bg-zinc-800 hover:text-cyan-500 hover:shadow-[0_0_20px_5px_#185367] transition duration-150 hover:border-cyan-500"
                target="_blank"
                rel="noopener noreferrer"
                title="Email"
                aria-label="Email"
              >
                <Mail class="w-full" aria-hidden="true" />
              </a>
            </li>
          </ul>
        </div>

        <!-- Phone number -->
        <div class="flex flex-col items-center">
          <h4 class="text-cyan-500 font-bold">PHONE</h4>
          <address class="mt-2 not-italic">
            <span class="text-base">+54 0362 155144398</span>
          </address>
        </div>

        <!-- E-mail with copy function -->
        <div class="flex flex-col items-center">
          <h4 class="text-cyan-500 font-bold">E-MAIL</h4>
          <EmailWithCopyButton class="mt-2" />
        </div>
      </div>

      <div class="md:max-w-2/3 w-full h-full pt-12 md:pl-12 md:pt-0">
        <ContactForm />
      </div>
    </div>
  </ContainerSm>
</section>

<style>
  section::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("/contact_bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    z-index: -10;
  }
</style>
