---
import MidnightRadialLights from "../components/backgrounds/MidnightRadialLights.astro";
import Badge from "../components/badge/Badge.astro";
import NeonBlue from "../components/buttons/NeonBlue.astro";
import NeonOrange from "../components/buttons/NeonOrange.astro";
import ScrollIndicator from "../components/scrollIndicators/ScrollIndicator.astro";
import Github from "../icons/Github.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Mail from "../icons/Mail.astro";
import GeneralContainer from "../utils/GeneralContainer.astro";
---

<!-- Home Section -->
<section
  id="home"
  class="relative w-full min-h-screen h-full px-5 py-12 flex justify-center items-center"
>
  <MidnightRadialLights />
  <GeneralContainer
    class="flex flex-col-reverse lg:flex-row justify-between gap-8 mt-10"
  >
    <!-- Description content -->
    <div class="flex flex-col justify-center lg:w-1/2">
      <p class="text-base sm:text-xl xl:text-2xl text-zinc-400">
        Hey, this is my web portfolio. 👋
      </p>
      <h1
        class="text-3xl sm:text-4xl xl:text-5xl font-semibold flex items-center gap-4 mt-2 flex-wrap"
      >
        I'm <span class="text-cyan-500">Javier Codutti</span>
        <a
          class="flex justify-center items-center"
          href="https://linkedin.com/in/aldo-javier-codutti"
          target="_blank"
          rel="noopener me"
          aria-label="Check my LinkedIn profile"
          ><Badge>Available to Work</Badge>
        </a>
      </h1>
      <h2
        class="opacity-80 text:base sm:text-lg xl:text-xl font-extralight mt-4 text-pretty"
      >
        <span class="text-white font-semibold">Frontend Developer</span>
        <span class="text-amber-200 font-semibold"
          >with 2+ years of experience</span
        > building Web Applications. Passionate about clean code, UX/UI, and scalable
        solutions. From Argentina, always learning and improving. 🙂
      </h2>

      <!-- Socials -->
      <ul class="mt-10 flex gap-4">
        <li>
          <a
            href="https://github.com/javicod92"
            class="border border-gray-300 p-2 rounded-full inline-flex items-center justify-center size-10 bg-zinc-800 hover:text-cyan-500 hover:shadow-[0_0_20px_5px_#185367] transition duration-150 hover:border-cyan-500"
            target="_blank"
            rel="noopener noreferrer me"
            title="Github"
            aria-label="Github"
          >
            <Github class="w-full" aria-hidden="true" />
          </a>
        </li>
        <li>
          <a
            href="https://linkedin.com/in/aldo-javier-codutti"
            class="border border-gray-300 p-2 rounded-full inline-flex items-center justify-center size-10 bg-zinc-800 hover:text-cyan-500 hover:shadow-[0_0_20px_5px_#185367] transition duration-150 hover:border-cyan-500"
            target="_blank"
            rel="noopener noreferrer me"
            title="LinkedIn"
            aria-label="LinkedIn"
          >
            <LinkedIn class="w-full" aria-hidden="true" />
          </a>
        </li>
        <li>
          <a
            href="mailto:javi.javier.jc@gmail.com"
            class="border border-gray-300 p-2 rounded-full inline-flex items-center justify-center size-10 bg-zinc-800 hover:text-cyan-500 hover:shadow-[0_0_20px_5px_#185367] transition duration-150 hover:border-cyan-500"
            target="_blank"
            rel="noopener noreferrer"
            title="Email"
            aria-label="Email"
          >
            <Mail class="w-full" aria-hidden="true" />
          </a>
        </li>
      </ul>

      <!-- Curriculum and Resume -->
      <div class="mt-12 flex gap-2 flex-wrap">
        <NeonBlue>Download Resume</NeonBlue>
        <NeonOrange>Download CV</NeonOrange>
      </div>
    </div>

    <!-- Image Profile -->
    <div class="flex items-center justify-center lg:w-1/2">
      <img
        src="/Profile.webp"
        alt="Javier Codutti - Web Developer"
        width="500"
        height="500"
        class="w-[80%] max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg"
        loading="lazy"
      />
    </div>
  </GeneralContainer>
  <ScrollIndicator
    class="hidden lg:flex absolute bottom-10"
    text="Discover me"
  />
</section>
