---
import GeneralButton from "../components/buttons/GeneralButton.astro";
import NeonBlue from "../components/buttons/NeonBlue.astro";
import NeonOrange from "../components/buttons/NeonOrange.astro";
import CoursesCard from "../components/coursesCard/CoursesCard.astro";
import Certificate from "../icons/Certificate.astro";
import GeneralContainer from "../utils/GeneralContainer.astro";
import HighLight from "../utils/HighLight.astro";
---

<section
  id="portfolio"
  class="relative w-full min-h-screen h-full px-5 py-24 flex flex-col justify-center items-center"
  aria-labelledby="portfolio-heading"
>
  <GeneralContainer class="flex justify-center">
    <div class="max-w-2/3">
      <!-- Page Titles -->
      <div>
        <h3
          class="font-medium text-zinc-400 flex items-center gap-2"
          id="portfolio-heading"
        >
          <Certificate class="size-8" />Courses and Certifications
        </h3>
        <h2 class="mt-1 font-semibold">
          These are some of my most relevant
          <span class="text-cyan-500"> courses and certifications </span>
        </h2>
      </div>

      <!-- Courses and Certifications Cards -->
      <div
        class="mt-10 pl-10 flex flex-col gap-8 border-l-2 border-zinc-700 w-full"
      >
        <CoursesCard
          title="React"
          platform="Informatorio Chaco"
          date="July - November 2024"
        >
          <p>
            <span class="text-lg text-gray-200 text-pretty">
              Developed and deployed interactive web applications using <HighLight
                >React and Next.js,</HighLight
              > using Hooks like <HighLight
                >useState, useEffect, useRef</HighLight
              > and others to manage states and effects, I also used <HighLight
                >React Router, TypeScript and Context API</HighLight
              > for state management. I implemented authentication with <HighLight
                >NextAuth and JWT</HighLight
              >, integrated databases like <HighLight>MongoDb</HighLight> and consumed
              APIs with <HighLight>Axios</HighLight>. In addition, I optimized
              styles with <HighLight>Tailwind CSS</HighLight> and added <HighLight
                >Framer-Motion</HighLight
              > animations. I applied this knowledge to personal projects, including
              an audio playback app inspired by YouTube Music.
            </span>
          </p>
          <GeneralButton href="/Certifications/React-Informatorio.pdf">
            View Certification
          </GeneralButton>
        </CoursesCard>
        <CoursesCard
          title="Inglés Técnico (Technical English)"
          platform="Informatorio Chaco"
          date="July - November 2024"
        >
          <p>
            <span class="text-lg text-gray-200 text-pretty">
              Improved <HighLight>English</HighLight> skills in reading, writing,
              and speaking, with a technical focus on programming. Developed fluency
              in the language and applied it across various projects.
            </span>
          </p>
          <GeneralButton href="/Certifications/InglesTecnico-Informatorio.pdf">
            View Certification
          </GeneralButton>
        </CoursesCard>
        <CoursesCard
          title="JavaScript Algorithms and Data Structures (Beta)"
          platform="freeCodeCamp"
          date="July 2024"
        >
          <p>
            <span class="text-lg text-gray-200 text-pretty">
              Learned and applied new <HighLight>JavaScript</HighLight> concepts
              to <HighLight>build static websites</HighLight>, improving my
              understanding of the language. Worked with functions, <HighLight
                >arrays, objects, and asynchronous programming.</HighLight
              > Gained experience in <HighLight
                >DOM manipulation, event handling,</HighLight
              > and best coding practices.
            </span>
          </p>
          <GeneralButton
            href="/Certifications/JsDataStructures-freeCodeCamp.png"
          >
            View Certification
          </GeneralButton>
        </CoursesCard>
        <CoursesCard
          title="Introducción a la Programación (Introduction to Programming)"
          platform="Informatorio Chaco"
          date="May - June 2024"
        >
          <p>
            <span class="text-lg text-gray-200 text-pretty">
              Improved and applied my knowledge in <HighLight
                >HTML, CSS 3, Git and GitHub</HighLight
              > by building a static Web Portfolio. These tools have helped me to
              consolidate my general knowledge and to apply <HighLight
                >good programming practices.</HighLight
              >
            </span>
          </p>
          <GeneralButton
            href="/Certifications/IntroduccionProgramacion-Informatorio.pdf"
          >
            View Certification
          </GeneralButton>
        </CoursesCard>

        <!-- Courses Hidden -->
        <div id="coursesHidden" class="hidden flex-col gap-8">
          <CoursesCard
            title="Legacy JavaScript Algorithms and Data Structures"
            platform="freeCodeCamp"
            date="May - 2024"
          >
            <p>
              <span class="text-lg text-gray-200 text-pretty">
                Consolidated new knowledge with the application of JavaScript in
                the creation of variables, <HighLight>classes</HighLight> and <HighLight
                  >functions</HighLight
                >, arithmetic operations, <HighLight
                  >manipulation of arrays and JavaScript objects.</HighLight
                >
              </span>
            </p>
            <GeneralButton href="/Certifications/LegacyJs-freeCodeCamp.png">
              View Certification
            </GeneralButton>
          </CoursesCard>
          <CoursesCard
            title="Curso CSS3 (CSS3 Course)"
            platform="Ademass"
            date="May - 2024"
          >
            <p>
              <span class="text-lg text-gray-200 text-pretty">
                Consolidated my knowledge of CSS3 by applying it to a web
                application. Strengthened my understanding of <HighLight
                  >class implementation, selectors,</HighLight
                > and advanced layout techniques using <HighLight
                  >Flexbox and Grid</HighLight
                > to create a fully <HighLight>responsive web design.</HighLight
                > Additionally, improved my skills in handling animations, transitions,
                and best practices for maintainable styles.
              </span>
            </p>
            <GeneralButton href="/Certifications/CSS3-Ademass.pdf">
              View Certification
            </GeneralButton>
          </CoursesCard>
          <CoursesCard
            title="Curso HTML5 (HTML5 Course)"
            platform="Ademass"
            date="May - 2024"
          >
            <p>
              <span class="text-lg text-gray-200 text-pretty">
                Strengthened my knowledge of HTML5 by building <HighLight
                  >structured</HighLight
                > and <HighLight>accessible</HighLight> web applications. Gained
                expertise in <HighLight>semantic elements,</HighLight> proper use
                of <HighLight>headings, forms,</HighLight> and attributes to enhance
                <HighLight>SEO</HighLight> and <HighLight
                  >user experience.</HighLight
                > Additionally, learned best practices for accessibility <HighLight
                  >(ARIA roles)</HighLight
                >
                and integrated multimedia elements like videos and audio.
              </span>
            </p>
            <GeneralButton href="/Certifications/HTML5-Ademass.pdf">
              View Certification
            </GeneralButton>
          </CoursesCard>
          <CoursesCard
            title="Responsive Web Design"
            platform="freeCodeCamp"
            date="April - 2024"
          >
            <p>
              <span class="text-lg text-gray-200 text-pretty">
                Learned how to build websites that <HighLight>adapt</HighLight> to
                any device using <HighLight
                  >HTML5, CSS3, Flexbox, and Grid.</HighLight
                > I worked with media queries to implement <HighLight
                  >responsive designs</HighLight
                >, ensuring web pages adjust properly to different screen sizes.
                By the end of the course, built several practical projects that
                solidified my skills in creating modern, fully responsive web
                designs.
              </span>
            </p>
            <GeneralButton href="/Certifications/ResponsiveWD-freeCodeCamp.png">
              View Certification
            </GeneralButton>
          </CoursesCard>
          <CoursesCard
            title="Desarrollo Web (Web Development)"
            platform="Informatorio Chaco"
            date="August - December 2022"
          >
            <p>
              <span class="text-lg text-gray-200 text-pretty">
                Learned and applied backend oriented programming skills using
                <HighLight>Python and Django.</HighLight> Developed the user interface
                for an “association” using HTML CSS and Vanilla JavaScript. Implemented
                user authentication and user storage in <HighLight
                  >SQL Server and SQLite3</HighLight
                > databases. This was one of my first experiences for a real client.
              </span>
            </p>
            <GeneralButton
              href="/Certifications/DesarrolloWeb-Informatorio.png"
            >
              View Certification
            </GeneralButton>
          </CoursesCard>
        </div>
      </div>
      <div class="w-full flex justify-center">
        <button
          class="px-10 py-2 border border-cyan-500 mt-8 rounded-lg bg-zinc-800 hover:text-cyan-500 hover:shadow-[0_0_20px_5px_#185367] transition duration-150 hover:border-cyan-500 cursor-pointer"
          id="showMoreBtn">View More</button
        >
      </div>
    </div>
  </GeneralContainer>
</section>

<!-- Script to handle opening and closing of elements -->
<script>
  const containerHidden = document.getElementById("coursesHidden");
  const showMoreBtn = document.getElementById("showMoreBtn");

  function handleBtn() {
    if (containerHidden?.classList.contains("hidden")) {
      containerHidden.classList.remove("hidden");
      containerHidden.classList.add("flex");
      showMoreBtn ? (showMoreBtn.textContent = "Show Less") : "";
    } else {
      containerHidden?.classList.remove("flex");
      containerHidden?.classList.add("hidden");
      showMoreBtn ? (showMoreBtn.textContent = "Show More") : "";
    }
  }

  showMoreBtn?.addEventListener("click", handleBtn);
</script>
