---
type ButtonTypes = {
  href: string;
  class: string;
};

const { href, class: classList } = Astro.props as ButtonTypes;
---

<a
  class={`px-4 py-2 border border-zinc-500 rounded-md inline-block hover:text-cyan-500 transition duration-150 hover:border-cyan-500 hover:bg-gray-900 ${classList}`}
  href={href}
  target="_blank"
  title={href}
  ><slot />
</a>
