---
import Tool from "../../icons/Tool.astro";
---

<h2
  class="font-medium text-zinc-400 flex items-center gap-2"
  id="skills-heading"
>
  <Tool class="size-6" aria-hidden="true" />Mis Habilidades
</h2>
<h3 class="mt-1 font-semibold">
  Conoce mis mejores
  <span class="text-cyan-500"> habilidades y experiencias </span>
</h3>
