---
import HighLight from "../../utils/HighLight.astro";
---

<p class="mt-2 text-pretty border-l-4 border-cyan-600 pl-4">
  Soy un desarrollador con experiencia en <HighLight>React, Next.js,</HighLight>
  y <HighLight>Astro,</HighLight>usando
  <HighLight>Tailwind CSS</HighLight> y <HighLight>CSS Modules</HighLight> para estilizar.
</p>
<p class="mt-2 text-pretty border-l-4 border-cyan-600 pl-4">
  En Backend, trabajo con <HighLight>MongoDB</HighLight> e integro herramientas como
  <HighLight>Axios, Zod, Resend,</HighLight> y <HighLight
    >Framer Motion.</HighLight
  >
</p>
<p class="mt-2 text-pretty border-l-4 border-cyan-600 pl-4">
  Me manejo con <HighLight>Git / GitHub</HighLight> y despliego proyectos en <HighLight
    >Vercel,</HighLight
  ><HighLight>priorizando el código modular y escalable.</HighLight>
</p>
