---
import HighLight from "../../utils/HighLight.astro";
---

<p class="mt-2 text-pretty border-l-4 border-cyan-600 pl-4">
  I'm a developer with experience in <HighLight>React, Next.js,</HighLight> and <HighLight
    >Astro,</HighLight
  >using
  <HighLight>Tailwind CSS</HighLight> and <HighLight>CSS Modules</HighLight> for
  styling.
</p>
<p class="mt-2 text-pretty border-l-4 border-cyan-600 pl-4">
  On the backend, I work with <HighLight>MongoDB</HighLight> and integrate tools
  like <HighLight>Axios, Zod, Resend,</HighLight> and <HighLight
    >Framer Motion</HighLight
  >.
</p>
<p class="mt-2 text-pretty border-l-4 border-cyan-600 pl-4">
  I manage <HighLight>Git / GitHub</HighLight> and deploy projects in <HighLight
    >Vercel,</HighLight
  ><HighLight>prioritizing modular and scalable code.</HighLight>
</p>
