@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* How to use Google Fonts */
/* font-family: "Work Sans", serif; */
/* font-family: "Righteous", serif; */
/* font-family: "Inter", serif; */

:root {
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", serif;
}

.workSans {
  font-family: "Work Sans", serif;
}

.righteous {
  font-family: "Righteous", serif;
}
