@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* How to use Google Fonts */
/* font-family: "Work Sans", serif; */
/* font-family: "Righteous", serif; */
/* font-family: "Inter", serif; */

:root {
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", serif;
  background-color: #0a0a0a;
}

h1 {
  @apply text-3xl sm:text-4xl xl:text-5xl;
}

h2 {
  @apply text-xl xl:text-2xl;
}

h3 {
  @apply text-2xl sm:text-3xl xl:text-4xl;
}

p {
  @apply text-base sm:text-lg xl:text-xl font-extralight;
}

h4 {
  @apply text-base sm:text-lg xl:text-xl;
}

.workSans {
  font-family: "Work Sans", serif;
}

.righteous {
  font-family: "Righteous", serif;
}

.grid-cols-auto {
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
