---
import Copy from "../../icons/Copy.astro";
import GeneralButton from "../buttons/GeneralButton.astro";

type EmailProps = {
  class: string;
};

const { class: classList } = Astro.props as EmailProps;
---

<div class={`flex flex-col items-center ${classList}`}>
  <span class="email px-2 text-base font-normal">javi.javier.jc@gmail.com</span>
  <GeneralButton id="copyBtn" class="mt-4 px-6! flex! gap-2 items-center"
    ><Copy aria-hidden="true" class="size-4" />Copy email</GeneralButton
  >
</div>

<script>
  const copyBtn = document.getElementById("copyBtn");

  function copyEmail() {
    const email = document.querySelector(".email")!.textContent;
    navigator.clipboard.writeText(email!).then(() => {
      alert("E-mail address copied to clipboard");
    });
  }

  copyBtn?.addEventListener("click", copyEmail);
</script>
