---
import Copy from "../../icons/Copy.astro";

type EmailProps = {
  class: string;
};

const { class: classList } = Astro.props as EmailProps;
---

<div class={`flex items-center justify-between py-2 ${classList}`}>
  <span class="email px-2 text-base font-normal">javi.javier.jc@gmail.com</span>
  <button
    id="copyBtn"
    class="px-2 border-l border-white/30 cursor-pointer hover:text-cyan-500 transition-all duration-200 text-gray-400"
    aria-label="Copy email"
    title="Copy"><Copy /></button
  >
</div>

<script>
  const copyBtn = document.getElementById("copyBtn");

  function copyEmail() {
    const email = document.querySelector(".email")!.textContent;
    navigator.clipboard.writeText(email!).then(() => {
      alert("E-mail address copied to clipboard");
    });
  }

  copyBtn?.addEventListener("click", copyEmail);
</script>
