<div class="absolute -z-10 w-full h-full"></div>

<!-- Midnight City -->
<!-- <style>
  div {
    background: linear-gradient(-45deg, #45494b 0%, #181719 100%);
  }
</style> -->

<!-- Deep Space -->
<!-- <style>
  div {
    background: #000000;
    background: -webkit-linear-gradient(-45deg, #434343, #000000);
    background: linear-gradient(-45deg, #434343, #000000);
  }
</style> -->

<!-- Moonlit Asteroid -->
<!-- <style>
  div {
    background: #0f2027;
    background: -webkit-linear-gradient(to left, #2c5364, #203a43, #0f2027);
    background: linear-gradient(to left, #2c5364, #203a43, #0f2027);
  }
</style> -->

<!-- Mirage -->
<!-- <style>
  div {
    background: #16222a; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #3a6073,
      #16222a
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #3a6073,
      #16222a
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
</style> -->

<!-- Royal -->
<!-- <style>
  div {
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #243b55,
      #141e30
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #243b55,
      #141e30
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
</style> -->

<!-- Midnight Radial -->
<style>
  div {
    background: radial-gradient(
      circle 710px at 80% 50%,
      #2b2b2b 5%,
      #0a0a0a 85%
    );
  }
</style>
