<!-- Deep Space -->
<div class="absolute -z-10 top-0 left-0 w-full h-full"></div>

<style>
  div {
    background: #000000;
    background: -webkit-linear-gradient(-45deg, #434343, #000000);
    background: linear-gradient(-45deg, #434343, #000000);
  }
</style>
