<!-- Midnight Radial -->
<div class="absolute -z-10 w-full h-full"></div>

<!-- <style>
  div {
    background: radial-gradient(
      circle 710px at 80% 50%,
      #303030 5%,
      #0a0a0a 85%
    );
  }
</style> -->

<!-- Style only with Radial Gradient -->
<style>
  div {
    background: radial-gradient(
      ellipse 80% 80% at 50% 0,
      #193847 5%,
      #0a0a0a 85%
    );
  }
</style>

<!-- Style with Background Image -->
<!-- <style>
  div {
    background: radial-gradient(
        ellipse 80% 80% at 50% 0,
        #193847 5%,
        rgba(10, 10, 10, 0.95) 85%
      ),
      url(/Bg-Image2.webp);
    background-size: cover;
    background-position: center;
  }
</style> -->
