<!-- Mirage -->
<div class="absolute -z-10 top-0 left-0 w-full h-full"></div>

<style>
  div {
    background: #16222a;
    background: -webkit-linear-gradient(to left, #3a6073, #16222a);
    background: linear-gradient(to left, #3a6073, #16222a);
  }
</style>
