<!-- Moonlit Asteroid -->
<div class="absolute -z-10 w-full h-full"></div>

<style>
  div {
    background: #0f2027;
    background: -webkit-linear-gradient(to left, #2c5364, #203a43, #0f2027);
    background: linear-gradient(to left, #2c5364, #203a43, #0f2027);
  }
</style>
