<!-- Royal -->
<div class="absolute -z-10 w-full h-full"></div>

<style>
  div {
    background: #141e30;
    background: -webkit-linear-gradient(to left, #243b55, #141e30);
    background: linear-gradient(to left, #243b55, #141e30);
  }
</style>
