---
import GeneralButton from "../../components/buttons/GeneralButton.astro";
import CoursesCard from "../../components/coursesCard/CoursesCard.astro";
import HighLight from "../../utils/HighLight.astro";
---

<CoursesCard
  title="React"
  platform="Informatorio Chaco"
  date="Julio - Noviembre 2024"
>
  <p>
    <span class="text-gray-200 text-pretty">
      <p>
        <span class="text-gray-200 text-pretty">
          Desarrollé y desplegué <HighLight
            >aplicaciones web interactivas</HighLight
          > usando <HighLight>React y Next.js.</HighLight> Implementé el manejo de
          estados con <HighLight>useState, useEffect, useRef</HighLight> y consolidé
          el uso de <HighLight
            >React Router, TypeScript, y Context API</HighLight
          >. Integré autenticación con <HighLight>NextAuth y JWT</HighLight>,
          conecté a base de datos como <HighLight>MongoDB</HighLight>, y consumí
          APIs con <HighLight>Axios</HighLight>. Optimice estilos con <HighLight
            >Tailwind CSS</HighLight
          > y mejoré la experiencia de usuario con
          <HighLight>Framer Motion animations</HighLight>. Apliqué estas
          habilidades en proyectos personales, incluyendo una <HighLight
            >aplicación de reproducción de audio</HighLight
          > inspirada en YouTube Music.
        </span>
      </p>
    </span>
  </p>
  <GeneralButton
    class="mt-6"
    as="a"
    target="_blank"
    href="/Certifications/React-Informatorio.pdf"
  >
    Ver Certificación
  </GeneralButton>
</CoursesCard>
<CoursesCard
  title="Inglés Técnico (Technical English)"
  platform="Informatorio Chaco"
  date="July - November 2024"
>
  <p>
    <span class="text-gray-200 text-pretty">
      Enhanced my <HighLight>English proficiency</HighLight> in reading, writing,
      and speaking, with a specific focus on <HighLight
        >technical terminology in programming</HighLight
      >. Applied these skills in various projects to improve documentation,
      communication, and coding efficiency.
    </span>
  </p>

  <GeneralButton
    class="mt-6"
    as="a"
    target="_blank"
    href="/Certifications/InglesTecnico-Informatorio.pdf"
  >
    View Certification
  </GeneralButton>
</CoursesCard>
<CoursesCard
  title="JavaScript Algorithms and Data Structures (Beta)"
  platform="freeCodeCamp"
  date="July 2024"
>
  <p>
    <span class="text-gray-200 text-pretty">
      Strengthened my <HighLight>JavaScript</HighLight> skills by building
      <HighLight>interactive applications</HighLight>
      and improving my understanding of <HighLight
        >functions, arrays, objects, and asynchronous programming</HighLight
      >. Gained experience in <HighLight
        >DOM manipulation, event handling,</HighLight
      > and best practices for clean and maintainable code.
    </span>
  </p>

  <GeneralButton
    class="mt-6"
    as="a"
    target="_blank"
    href="/Certifications/JsDataStructures-freeCodeCamp.png"
  >
    View Certification
  </GeneralButton>
</CoursesCard>
<CoursesCard
  title="Introducción a la Programación (Introduction to the Programming)"
  platform="Informatorio Chaco"
  date="May - June 2024"
>
  <p>
    <span class="text-gray-200 text-pretty">
      Gained hands-on experience with <HighLight
        >HTML, CSS3, Git, and GitHub</HighLight
      > by developing a personal portfolio website. Applied <HighLight
        >best programming practices</HighLight
      > to improve code structure, maintainability, and accessibility.
    </span>
  </p>

  <GeneralButton
    class="mt-6"
    as="a"
    target="_blank"
    href="/Certifications/IntroduccionProgramacion-Informatorio.pdf"
  >
    View Certification
  </GeneralButton>
</CoursesCard>

<!-- Courses Hidden -->
<div id="coursesHidden" class="hidden flex-col gap-8">
  <CoursesCard
    title="Legacy JavaScript Algorithms and Data Structures"
    platform="freeCodeCamp"
    date="May - 2024"
  >
    <p>
      <span class="text-gray-200 text-pretty">
        Strengthened my understanding of <HighLight>JavaScript</HighLight>
        by working with <HighLight>variables, functions, and classes</HighLight
        >. Improved my ability to perform <HighLight
          >arithmetic operations</HighLight
        > and efficiently manipulate <HighLight>arrays and objects</HighLight>.
      </span>
    </p>
    <GeneralButton
      class="mt-6"
      as="a"
      target="_blank"
      href="/Certifications/LegacyJs-freeCodeCamp.png"
    >
      View Certification
    </GeneralButton>
  </CoursesCard>
  <CoursesCard
    title="Curso CSS3 (CSS3 Course)"
    platform="Ademass"
    date="May - 2024"
  >
    <p>
      <span class="text-gray-200 text-pretty">
        Applied <HighLight>CSS3</HighLight> concepts in real projects, improving
        my skills in <HighLight
          >selectors, classes, and responsive design</HighLight
        >. Focused on <HighLight>Flexbox and Grid</HighLight> for structuring layouts
        and developed <HighLight>animations and transitions</HighLight> to enhance
        <HighLight>user experience</HighLight>. Also learned best practices for <HighLight
          >scalable and maintainable styles</HighLight
        >.
      </span>
    </p>
    <GeneralButton
      class="mt-6"
      as="a"
      target="_blank"
      href="/Certifications/CSS3-Ademass.pdf"
    >
      View Certification
    </GeneralButton>
  </CoursesCard>
  <CoursesCard
    title="Curso HTML5 (HTML5 Course)"
    platform="Ademass"
    date="May - 2024"
  >
    <p>
      <span class="text-gray-200 text-pretty">
        Learned to build <HighLight>structured and accessible</HighLight> web applications
        using <HighLight>HTML5</HighLight>. Focused on <HighLight
          >semantic elements, headings, forms, and attributes</HighLight
        > to improve <HighLight>SEO and user experience</HighLight>. Gained
        experience with <HighLight>ARIA roles</HighLight> for accessibility and integrated
        multimedia elements like <HighLight>videos and audio</HighLight> to create
        engaging content.
      </span>
    </p>
    <GeneralButton
      class="mt-6"
      as="a"
      target="_blank"
      href="/Certifications/HTML5-Ademass.pdf"
    >
      View Certification
    </GeneralButton>
  </CoursesCard>
  <CoursesCard
    title="Responsive Web Design"
    platform="freeCodeCamp"
    date="April - 2024"
  >
    <p>
      <span class="text-gray-200 text-pretty">
        Developed <HighLight>responsive websites</HighLight> using <HighLight
          >HTML5, CSS3, Flexbox, and Grid</HighLight
        >, ensuring adaptability across different devices. Implemented <HighLight
          >media queries</HighLight
        > to create fluid designs that adjust dynamically to screen sizes. Built
        several <HighLight>real-world projects</HighLight> to solidify my skills
        in modern <HighLight>web design and accessibility</HighLight>.
      </span>
    </p>
    <GeneralButton
      class="mt-6"
      as="a"
      target="_blank"
      href="/Certifications/ResponsiveWD-freeCodeCamp.png"
    >
      View Certification
    </GeneralButton>
  </CoursesCard>
  <CoursesCard
    title="Desarrollo Web (Web Development)"
    platform="Informatorio Chaco"
    date="August - December 2022"
  >
    <p>
      <span class="text-gray-200 text-pretty">
        Learned and applied backend oriented programming skills using
        <HighLight>Python and Django.</HighLight> Developed the user interface for
        an “association” using HTML CSS and Vanilla JavaScript. Implemented user
        authentication and user storage in <HighLight
          >SQL Server and SQLite3</HighLight
        > databases. This was one of my first experiences for a real client.
      </span>
    </p>
    <GeneralButton
      class="mt-6"
      as="a"
      target="_blank"
      href="/Certifications/DesarrolloWeb-Informatorio.png"
    >
      View Certification
    </GeneralButton>
  </CoursesCard>
</div>
