---
import Certificate from "../../icons/Certificate.astro";
---

<h2
  class="font-medium text-zinc-400 flex items-center gap-2"
  id="portfolio-heading"
>
  <Certificate class="size-8" />Cursos y Certificaciones
</h2>
<h3 class="mt-1 font-semibold">
  Estos son mis más relevantes
  <span class="text-cyan-500"> cursos y certificaciones </span>
</h3>
