---
import MidnightRadial from "../components/backgrounds/MidnightRadial.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Home Section -->
  <section id="home" class="relative w-full min-h-screen">
    <MidnightRadial />
  </section>
</Layout>
