---
import Briefcase from "../../icons/Briefcase.astro";
import Menu from "../../icons/Menu.astro";
import GeneralContainer from "../../utils/GeneralContainer.astro";
---

<header
  id="navbar"
  class="fixed z-10 top-0 left-0 right-0 flex justify-center transition-colors duration-300"
>
  <GeneralContainer
    class="m-5 lg:m-[20px_60px] flex justify-between items-center"
  >
    <div>
      <a
        href="#"
        class="flex gap-2 items-center text-2xl font-medium righteous"
      >
        <Briefcase class="size-8" />
        JAVIER <span class="text-cyan-500">CODUTTI</span>
      </a>
    </div>
    <nav class="hidden lg:flex gap-8 text-white/80">
      <a class="transition-colors duration-250 hover:text-cyan-400" href="#home"
        >Home</a
      >
      <a
        class="transition-colors duration-250 hover:text-cyan-400"
        href="#about">About</a
      >
      <a
        class="transition-colors duration-250 hover:text-cyan-400"
        href="#skills">Skills</a
      >
      <a
        class="transition-colors duration-250 hover:text-cyan-400"
        href="#portfolio">Portfolio</a
      >
      <a
        class="transition-colors duration-250 hover:text-cyan-400"
        href="#projects">Projects</a
      >
      <a
        class="transition-colors duration-250 hover:text-cyan-400"
        href="#contact">Contact</a
      >
    </nav>
    <div class="lg:hidden block">
      <Menu />
    </div>
  </GeneralContainer>
</header>

<!-- This script is used to add a background to my navigation bar -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const navbar = document.getElementById("navbar");

    window.addEventListener("scroll", () => {
      if (window.scrollY > 0) {
        navbar?.classList.add("HeaderBg");
        console.log(window.scrollY);
      } else {
        navbar?.classList.remove("HeaderBg");
      }
    });
  });
</script>
