---
import Briefcase from "../../icons/Briefcase.astro";
import Menu from "../../icons/Menu.astro";
import GeneralContainer from "../../utils/GeneralContainer.astro";
---

<header
  id="navbar"
  class="fixed z-10 top-0 left-0 right-0 flex justify-center transition-colors duration-300"
>
  <GeneralContainer
    class="m-5 lg:m-[20px_60px] flex justify-between items-center"
  >
    <div>
      <a
        href="#"
        class="flex gap-2 items-center text-2xl font-medium righteous"
      >
        <Briefcase class="size-8" />
        JAVIER <span class="text-cyan-500">CODUTTI</span>
      </a>
    </div>
    <nav
      id="navigation"
      class="absolute top-0 -Left-full w-full h-screen bg-zinc-900 transition-all lg:transition-none ease-in-out duration-300 lg:static flex flex-col items-center -z-10 py-32 lg:flex-row gap-8 text-white/80 lg:p-0 lg:w-auto lg:h-auto lg:z-0 lg:bg-transparent"
    >
      <a class="transition-colors duration-250 hover:text-cyan-400" href="#home"
        >Home</a
      >
      <a
        class="transition-colors duration-250 hover:text-cyan-400"
        href="#about">About</a
      >
      <a
        class="transition-colors duration-250 hover:text-cyan-400"
        href="#skills">Skills</a
      >
      <a
        class="transition-colors duration-250 hover:text-cyan-400"
        href="#portfolio">Portfolio</a
      >
      <a
        class="transition-colors duration-250 hover:text-cyan-400"
        href="#projects">Projects</a
      >
      <a
        class="transition-colors duration-250 hover:text-cyan-400"
        href="#contact">Contact</a
      >
    </nav>
    <button
      id="menu"
      class="lg:hidden block hover:text-cyan-500 transition-all duration-300 cursor-pointer"
    >
      <Menu />
    </button>
  </GeneralContainer>
</header>

<style>
  /* This header style I use to fix the load error with Tailwind CSS */
  .HeaderBg {
    background: #1818186e;
    backdrop-filter: blur(24px);
  }

  .-Left-full {
    left: -100%;
  }

  .Left-0 {
    left: 0;
  }
</style>

<!-- This script is used to add a background to my navigation bar -->
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuToOpen = document.getElementById("navigation");
    const MenuButton = document.getElementById("menu");
    const navbar = document.getElementById("navbar");
    const anchors = document.querySelectorAll("#navbar nav a");

    const updateHeaderStyles = () => {
      if (window.scrollY > 0) {
        navbar?.classList.add("HeaderBg");
      } else {
        navbar?.classList.remove("HeaderBg");
      }
    };

    function openMenu() {
      menuToOpen?.classList.toggle("-Left-full");
      menuToOpen?.classList.toggle("Left-0");
    }

    function closeMenu() {
      menuToOpen?.classList.remove("Left-0");
      menuToOpen?.classList.add("-Left-full");
    }

    window.addEventListener("scroll", updateHeaderStyles);
    MenuButton?.addEventListener("click", openMenu);
    anchors.forEach((anchor) => {
      anchor.addEventListener("click", closeMenu);
    });
    updateHeaderStyles();
  });
</script>
