---
type TechnologyTypes = {
  class: string;
  name: string;
  Icon: any;
};

const { class: classList, name, Icon } = Astro.props as TechnologyTypes;
---

<div
  class={`flex items-center gap-2 px-4 rounded-full py-2 bg-gray-800 transition-all duration-200 ${classList}`}
>
  <Icon class="size-6" aria-hidden="true" />
  {name}
</div>

<style>
  div:hover {
    background: rgb(15, 73, 112);
    transform: scale(1.05);
  }
</style>
