---
import Badge from "../../components/badge/Badge.astro";
---

<>
  <div>I'm <span class="text-cyan-500">Javier Codutti</span></div>
  <a
    class="flex justify-center items-center"
    href="https://linkedin.com/in/aldo-javier-codutti"
    target="_blank"
    rel="noopener me"
    aria-label="Check my LinkedIn profile"
    ><Badge>Available to Work</Badge>
  </a>
</>
