---
import Badge from "../../components/badge/Badge.astro";
---

<>
  Soy <span class="text-cyan-500">Javier Codutti</span>
  <a
    class="flex justify-center items-center"
    href="https://linkedin.com/in/aldo-javier-codutti"
    target="_blank"
    rel="noopener me"
    aria-label="Visita mi perfil de LinkedIn"
    ><Badge>Disponible para trabajar</Badge>
  </a>
</>
