<p class="mt-2 text-pretty border-l-4 border-cyan-600 pl-4">
  Soy <span class="text-cyan-500 font-semibold">Javier Codutti</span>, un
  desarrollador web con <span class="text-cyan-500 font-semibold"
    >+2 años de experiencia</span
  >
  creando aplicaciones web modernas, escalables y de alta performance. Me especializo
  en <span class="text-cyan-500 font-semibold">React, Next.js y Astro</span>,
  enfocado en UX/UI.
</p>
<p class="text-lg md:text-xl text-pretty border-l-4 border-cyan-600 pl-4">
  Apasionado por aprender, trabajé con <span class="text-cyan-500 font-semibold"
    >JWT, NextAuth,</span
  > e integré base de datos como <span class="text-cyan-500 font-semibold"
    >MongoDB</span
  >. Mis proyectos incluyen un <span class="text-amber-200 font-semibold"
    >Podcast Music</span
  >
  (una aplicación inspirada en YouTube Music) y un <span
    class="text-amber-200 font-semibold">E-commerce</span
  >, priorizando performance y accesibilidad.
</p>
<p class="text-lg md:text-xl text-pretty border-l-4 border-cyan-600 pl-4">
  ¿Estas buscando un desarrollador que valore <span
    class="text-amber-200 font-semibold"
    >calidad, escalabilidad e innovación?</span
  >
  <span class="text-amber-200 font-semibold">¡Hablemos! 🙂</span>
</p>
