---
import Header from "../components/header/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Web Portfolio | Javier Codutti - Developer & Programmer with 2+ Years of
      Experience
    </title>
    <meta
      name="description"
      content="Passionate about web development and technology. I have been creating digital solutions with React, Next.js, and more for over 2 years. Always learning and improving every line of code"
    />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
