---
import Footer from "../components/footer/Footer.astro";
import FooterSm from "../components/footer/FooterSm.astro";
import FooterXl from "../components/footer/FooterXl.astro";
import Header from "../components/header/Header.astro";
import "../styles/global.css";
import { translations } from "../translations/i18n";

const lang = (Astro.locals as { lang: "en" | "es" }).lang || "en";
const t = translations.ROOT[lang];
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {t.title}
    </title>
    <meta
      name="description"
      content="Passionate about web development and technology. I have been creating digital solutions with React, Next.js, and more for over 2 years. Always learning and improving every line of code"
    />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <FooterXl />
  </body>
</html>
